body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

canvas {
  display: block;
}

.sliders-container {
  padding: 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-row, .reduction-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-container, .slider-value-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 120px;
}

.slider-row input[type="range"] {
  flex: 3;
}

.slider-value {
  text-align: right;
  font-family: 'Courier New', monospace;
}

.lambda-input-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
}

#lambdaInput {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#submitLambda {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
}

#submitLambda:hover {
  background-color: #45a049;
}

.reduction-container {
  display: flex;
  align-items: center;
}

.reduction-button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  margin-left: 8px;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.2s;
  flex-grow: 1;
}

.reduction-button:hover {
  background-color: #ddd;
}

.reduction-button.active {
  background-color: #4CAF50;
  color: white;
}
